extends layout

block content
  .container
    .row
      .col-xs-12
        .page-header
          h1= title
    .row
      .col-xs-12
        fieldset
          legend Example
          .form-group
            .row
              .col-xs-4.col-xs-offset-0
                input(type='text', id='rfid', placeholder='Data form RFID Tags', class="form-control", onkeypress="handelInput(event, 'rfid')")
              .col-xs-4
                input(type='text', id='barcode', placeholder='Data form Barcode Reader', class="form-control" onkeypress="handelInput(event, 'barcode')")
              .col-xs-2
                a(href="#", class="btn btn-success") Submit
              .col-xs-2
                a(href="#", class="btn btn-danger" onclick="resetInput();") Reset
  script( type="text/javascript").
    function set(){
      document.getElementById('rfid').focus();
    }
